#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}


#steps{
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */

[background="grey"]{
  background-color: #f9f9f9;
}

img{
  height: 200px;
}


@media screen and (min-width:992px) {
  .row {
    margin-top: 100px;
  }
  #why .row > [class*="col-"]{
    margin-top: 80px;
  }
}

@media screen and (min-width:768px) and (max-width:991px){

  .row {
    margin-top: 30px;
  }
  .row > [class*="col-"]{
    padding: 20px;
  }
  #why .row img {
    padding: 20px;
  }
  img{
    height: 150px;
  }
}

@media screen and (max-width:767px){

  .row > [class*="col-"]{
    padding: 10px 15px;
  }
  .container {
    border-bottom: 2px solid green;
    margin-bottom: 15px;
    padding: 5px;
  }
  #why .row img {
    padding: 15px;
  }
  img{
    height: 100px;
  }
}
